{% load static %}
{% load crispy_forms_tags %}

<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
{%include 'navbar.html'%}

</head>

<body>
  

  {% block content %}

  {% endblock content %}
  {% block javascript %}

  {% endblock javascript %}
  <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>

  <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>

  <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

  <script src="{% static 'bootstrap/js/bootstrap.bundle.js' %}"></script>
</body>

</html>