{% extends "base.html" %}
{% load i18n crispy_forms_tags %}
{% csrf_token %}
{% block content %}
{{ form.media }}
    <div class="content-section col-5">
        <form method="post" enctype="multipart/form-data" >
>
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Blog Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit">Post</button>
            </div>
        </form>
    </div>
{% endblock content %}