{% extends "base.html" %}
{% load static %}

{% load crispy_forms_tags %}

{% block content %}

<div class="container-fluid">
<div class="row">
    <table class="table">
    <thead>
        <tr>
            <th>id</th>

            <th>name</th>
            <th>weight</th>
            <th>stock</th>
        </tr>
    </thead>
    <tbody>

        <tr>


            {% for aa in item  %}
            <td scope="row">{{aa.user}}</td>
            <td>{{aa.name}} </td>
            <td>{{aa.weight}} </td>
        </tr>
        {% endfor %}


    </tbody>
</table>
</div>
<div class="row"></div>
<div class="row"></div>
</div>


{% endblock content %}